.emoji-background {
  width: 1000px;
  height: 100vh;
  overflow: hidden;
  position: static;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  filter: blur(5px);
  white-space: nowrap;
  text-wrap: wrap;
  animation: slide 220s linear infinite;
  font-size: 70px;
  letter-spacing: -15px;
  line-height: 50px;
  opacity: 0.15;
  position: absolute;
  margin-left: -100px;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: scale(4);
  }
}
